header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    font-size: 27px;
    height: 40px;
    border: 1px solid black;
    transition-duration: 2s;
}

.dark {
    background-color: black;
    color: white;
}

.dark div:first-child + div a {
    color: white;
}

header div:first-child {
    cursor: pointer;
}

header div:first-child + div a {
    color: black;
    text-decoration: none;
    transition-duration: 2s;
}


header div:last-child {
    cursor: pointer;
}